// Imports -  Variables
@import "../../theme/scss/variables.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.heading-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  h2 {
    position: relative;
    top: 25px;
  }
  margin-bottom: 80px;
  form {
    justify-self: flex-end;
    width: 600px;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 30px -8px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 1px 30px -8px rgba(0, 0, 0, 0.22);
    box-shadow: -1px 1px 30px -8px rgba(0, 0, 0, 0.22);

    input {
      width: 350px;
      padding: 18px 30px;
      border: none;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }

    button {
      font-size: 28px;
      margin-left: 10px;
      padding: 15px;
      color: #fff;
      background-color: $theme-primary;
      border: none;
      min-width: 180px;
      font-weight: 600;
    }
  }
}
