<div class="footer-wrapper">
  <div class="container">
    <footer>
      <p>&copy; 2021 Eatz Food</p>
      <div class="footer-icons">
        <ul>
          <li><i class="fab fa-linkedin"></i></li>
          <li><i class="fab fa-tumblr-square"></i></li>
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-instagram-square"></i></li>
          <li>&copy; 2021 Eatz Food</li>
        </ul>
      </div>
    </footer>
  </div>
  <!-- ./ container -->
</div>
<!-- ./ footer-wrapper -->
