// Imports -  Variables
@import "../../theme/scss/variables.scss";

// Wrapper
header {
  padding: 15px 0;
  background-color: $theme-primary;

  a {
    color: $navbar-color;
  }

  .active-link {
    color: #000 !important;
  }

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    nav {
      a.active {
        font-weight: 600;
      }
      ul {
        // margin-left: -20%;
        li {
          display: inline-block;
          padding: 0 30px;
          font-size: 14px;
          text-transform: capitalize;
          a.active {
            font-weight: 600;
          }
        }
      }
    }
    .cart {
      position: relative;
      text-align: right;
      text-transform: capitalize;
      .cart-link {
        color: $sup-bg;
        i {
          // TODO: Lets discuss the need of this code nippet tmrw
          font: {
            size: 12px;
          }
          padding: 0 10px;
        }
        cursor: pointer;

        a {
          &:before {
            content: "|";
            padding: 0 30px;
          }
        }
      }

      sup {
        color: $default-color;
        background-color: $sup-bg;
        width: 12px;
        height: 12px;
        display: inline-block;
        // padding: 2px 5px;
        border-radius: 50%;
        text-align: center;
        padding: 0 3px;
        padding-top: 5px;
        margin-top: -10px;
        margin-left: 5px;
      }
      .cart-items {
        position: absolute;
        margin-top: 20px;
        right: 0;
        width: 80%;
        padding: 10px;
        text-align: left;
        background: #f1f1f1;
        z-index: 10;
        p {
          text-align: center;
          padding: 30px;
        }
        ul {
          li {
            display: grid;
            grid-template-columns: 2fr 1fr;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 15px 20px;
            margin: 10px 0;
            span {
              text-align: right;
              &:before {
                content: "x";
                padding: 0px 10px;
                font-size: 10px;
              }
              i {
                font-size: 20px;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 0.3s;
}
