// Imports - Variables
@import "../../constants/css/variables.scss";

.active-link {
  color: #000 !important;
}

// Wrapper
.navbar {
  padding: 15px 0;
  background-color: $theme-primary;

  a {
    color: $navbar-color;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: 600;
    }
    ul {
      margin-left: -20%;
      li {
        display: inline-block;
        padding: 0 30px;
        font-size: 14px;
        text-transform: capitalize;
        a.active {
          font-weight: 600;
        }
      }
    }
    .cart {
      position: relative;
      text-align: right;
      text-transform: capitalize;
      .cart-link {
        color: $sup-bg;
        // &:hover .cart-items {
        //   display: block;
        // }
      }
      sup {
        color: $default-color;
        background-color: $sup-bg;
        padding: 2px 5px;
        border-radius: 50%;
        margin-left: 5px;
      }
      .cart-items {
        display: none;
        position: absolute;
        right: 0;
        width: 50%;
        padding: 30px;
        text-align: left;
        background: #f1f1f1;
      }
    }
  }
}
