// Imports -  Variables
@import "../../theme/css/variables.scss";

// TODO: Always wrap the SCSS within parent class. Please follow the same for all components
.active-link {
  color: #000 !important;
}

// Wrapper
header {
  padding: 15px 0;
  background-color: $theme-primary;

  a {
    color: $navbar-color;
  }

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    nav {
      a.active {
        font-weight: 600;
      }
      ul {
        // margin-left: -20%;
        li {
          display: inline-block;
          padding: 0 30px;
          font-size: 14px;
          text-transform: capitalize;
          a.active {
            font-weight: 600;
          }
        }
      }
    }
    .cart {
      position: relative;
      text-align: right;
      text-transform: capitalize;
      .cart-link {
        color: $sup-bg;
        i {
          // TODO: Lets discuss the need of this code nippet tmrw
          font: {
            size: 12px;
          }
          padding: 0 10px;
        }
        cursor: pointer;
        // Use SCSS syntax for pseudo selectors
        a:before {
          content: "|";
          padding: 0 30px;
        }
      }

      sup {
        color: $default-color;
        background-color: $sup-bg;
        padding: 2px 5px;
        border-radius: 50%;
        margin-left: 5px;
      }
      .cart-items {
        // display: none;
        position: absolute;
        margin-top: 20px;
        right: 0;
        width: 50%;
        padding: 30px;
        text-align: left;
        background: #f1f1f1;
        z-index: 10;
      }
    }
  }
}
