<!-- DONE: Consider using header tag -->
<header>
  <div class="container">
    <div class="navbar-wrapper">
      <a routerLink=""><app-logo></app-logo></a>
      <nav>
        <!-- // DONE: Preferrably nav tags have only ul li  -->
        <!-- // DONE: Consider having the logo as a separate component. In most apps the logo get re-used.  -->
        <ul>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >home</a
            >
          </li>
          <li>
            <a
              routerLink="offers"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >offers</a
            >
          </li>
          <li>
            <a
              routerLink="restaurents"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >restaurents</a
            >
          </li>
          <li *ngIf="loginMode">
            <a
              routerLink="orders"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >orders</a
            >
          </li>
          <li *ngIf="loginMode">
            <a
              routerLink="account"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >account</a
            >
          </li>
        </ul>
      </nav>

      <div *ngIf="loginMode" class="cart">
        <p class="cart-link" (click)="onClickShowCart()">
          cart<sup>{{ cartCount }}</sup><i class="fas fa-chevron-down"></i>
          <a (click)="onLogOut()">Logout </a>
        </p>
        <div class="cart-items" *ngIf="showCart">
          <ul>
            <li *ngFor="let i of CartItems">
              <h3>{{ i.title }}</h3>
              <span>{{ i.val }}</span>
            </li>
          </ul>
          <p *ngIf="errorMsg">No Items in the Cart</p>
        </div>
      </div>
      <!-- ./ cart -->
      <div *ngIf="!loginMode" class="cart">
        <a
          routerLink="login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </div>
      <!-- ./ cart -->
    </div>
    <!-- ./ navbar-wrapper-->
  </div>
  <!-- ./ container -->
</header>
