<div class="hero">
  <div class="container">
    <div class="col">
      <h1 class="hero-title-top">Food</h1>
      <h1 class="hero-title-bottom">Discover Restaurant & Delicious Food</h1>
      <form (ngSubmit)="onSearch()" #searchForm="ngForm" >
        <input type="text" placeholder="search restaurant" ngModel name="search" required/>
        <button [disabled]="!searchForm.valid">GO</button>
      </form>
    </div>
    <!-- ./ col -->
    <div class="col">
      <img [src]="imgPath" alt="img" />
    </div>
    <!-- ./ col -->
  </div>
  <!-- ./ container -->

  <div class="location">
    <i class="fas fa-map-marker-alt"></i>{{ location }}
  </div>
</div>
<!-- ./ hero -->

<!-- #####################   STATIC CONTENT -->
<div class="static-content">
  <div class="container">
    <div class="blockquote-wrapper">
      <div class="col blockquote">
        <h2>some top restaurants for dining out or in !</h2>
      </div>
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          soluta deleniti ipsum dolores! Fuga culpa corrupti iure sunt
          consectetur hic facere voluptas voluptates, necessitatibus maiores
          explicabo nobis optio illo voluptate Fuga culpa corrupti iure sunt
          consectetur
        </p>
      </div>
    </div>
    <!-- ./ blockquote-wrapper -->
  </div>
  <!-- ./ container -->

  <div class="restaurant-static-section">
    <div class="restaurant-item">
      <img src="assets/images/foodImage2.png" alt="foodImg" />
      <div class="restaurant-item-content">
        <h1>Fire Water</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam
          vitae rem, quos in id unde dignissimos. Nihil, optio exercitationem.
        </p>
        <div class="item-methods">
          <div>
            <i class="fas fa-map-marker-alt"></i>
            Jagadamba
          </div>
          <button>Book Now <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
      </div>
      <!-- ./ restaurant-item-content -->
    </div>
    <!-- ./ restaurant-item -->

    <div class="restaurant-item">
      <img src="assets/images/foodImage1.png" alt="foodImg" />
      <div class="restaurant-item-content">
        <h1>The Wonton</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam
          vitae rem, quos in id unde dignissimos. Nihil, optio exercitationem.
        </p>
        <div class="item-methods">
          <div>
            <i class="fas fa-map-marker-alt"></i>
            Jagadamba
          </div>
          <button>Book Now <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
      </div>
      <!-- ./ restaurant-item-content -->
    </div>
    <!-- ./ restaurant-item -->

    <div class="restaurant-item-link">
      <i class="fas fa-chevron-circle-right"></i>
      <p>see more</p>
    </div>
  </div>
  <!-- ./ restaurant-static-section -->
</div>
<!-- ./ static-content -->

<!-- #####################   END: STATIC CONTENT -->

<!-- #####################   EXPLORE FOODS -->
<div class="container">
  <div class="explore-foods">
    <h3>Explore Our Foods</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem odio
      ea aperiam quaerat adipisci reprehenderit harum fuga quisquam.
    </p>
    <div class="cards">
      <app-food-item-card
        *ngFor="let item of items"
        [item]="item"
      ></app-food-item-card>
    </div>
    <!-- ./ cards-->
  </div>
  <!-- ./ explore-foods-->
</div>
<!-- ./ container -->

<!-- #####################   END: EXPLORE FOODS -->
