$font-family:(
    "default": 'poppins',
    'varaint': 'georgia'
);
$default-color: #000;
$theme-primary: #fe043c;
$theme-primary-transparent: rgba(254,4,60,0.6);
$theme-bg: #fff5ec;
$font-white: #fff;
$dark-blue: #2e266f;
// Navbar
$navbar-color: #fff;
$sup-bg: #fff;
