<div class="wrapper">
  <div class="border-bottom"></div>
  <!-- DONE: Use div & border to achieve lines. DO NOT USE HR/BR tags -->
  <h1>{{ advanceBookingTitle }}</h1>
  <!-- DONE: Why is the string not in constants? -->
  <form
    [formGroup]="advanceBookingForm"
    (ngSubmit)="onAdvanceBookingFormSubmit()"
  >
    <div class="form-wrapper">
      <input
        type="text"
        placeholder="search restaurant"
        name="search"
        formControlName="name"
      />
      <button type="submit" [disabled]="!advanceBookingForm.valid">GO</button>
    </div>
    <!-- ./ form-wrapper -->

    <p
      *ngIf="
        !advanceBookingForm.get('name').valid &&
        advanceBookingForm.get('name').touched
      "
    >
      {{ advanceBookingError }}
    </p>
    <!-- DONE: Why is the string not in constants? -->

    <div class="booking-options">
      <div class="booking-item">
        <div class="form-label">
          <label for="date">Date</label>
        </div>
        <select name="" id="" formControlName="date">
          <option value="{{ item }}" *ngFor="let item of myDateRange">
            {{ item }}
          </option>
        </select>
      </div>
      <!-- ./ booking-item -->

      <div class="booking-item">
        <div class="form-label">
          <label for="date">Time</label>
        </div>
        <select name="" id="" formControlName="time">
          <option value="{{ item }}" *ngFor="let item of mySortedTimeRange">
            <!-- DONE: Use meaningul names -->
            {{ item }}
          </option>
        </select>
      </div>
      <!-- ./ booking-item -->

      <div class="booking-item">
        <!-- DONE: always try to avoid using html tag names for classes. form-label might be more apt -->
        <div class="form-label">
          <label for="date">Guests</label>
        </div>
        <select name="" id="" formControlName="guests">
          <!-- DONE: Why are the options in an array and iterated in the DOM. What happens when the requirement is to add 10 more options? -->
          <option value="{{ item }}" *ngFor="let item of guests">
            <!-- DONE: Use meaningul names -->
            {{ item }}
          </option>
        </select>
      </div>
      <!-- ./ booking-item -->
    </div>
    <!-- ./ booking-options -->
  </form>
</div>
<!-- ./ wrapper -->
